<!DOCTYPE html>
<html>
  <body>
    <p>
      <a href="/rock">Play Rock</a><br>
      <a href="/paper">Play Paper</a><br>
      <a href="/scissors">Play Scissors</a><br>
    </p>
    <h2><%=@message0%></h2>
    <h2><%=@message1%></h2>
    <h2><%=@message2%></h2>
    <p>
      <a href="/">Rules</a>
    </p>
  </body>
</html>
